extends layout

block content
  p Invoice Number: #{query.invoiceNo}
  p Currency: #{query.currency}
  p Amount: #{query.amount}
  p Short Code: #{query.shortCode}
  script(src="https://code.jquery.com/jquery-3.1.0.min.js",integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=",crossorigin="anonymous")
  script(src="https://sandbox.checkout.com/js/checkout.js")
  form(class='payment-form', method='POST')
    script.
        Checkout.render({
            publicKey: '#{publicKey}',
            paymentToken: '#{payment_token}',
            customerEmail: 'user@email.com',
            value: #{query.amount},
            currency: '#{query.currency}'
        });

        var handler = function(event){
          console.log(event);
          if(event.data.responseCode == 10000){
            $.ajax({
              url: 'http://localhost:3000/',
              data: event.data,
              type: 'POST',
              success: function (data) {
                  console.log('Success: ',data);
              },
              error: function (xhr, status, error) {
                  console.log('Error: ' + error.message);
              },
            });
          }   
        };

        Checkout.addEventHandler(Checkout.Events.CARD_CHARGED, handler);